*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
.content-main{
    max-width: 1440px;
    margin: auto;
}
.content-info{
    padding: 30px 0 0 10px;
}
.info__tittle,
.form__tittle{
    font-size: 0.8em;
}
.info__description,
.form__description{
    padding: 10px 10px 0 0;
    font-size: 1.1em;
    line-height: 1.4;
    color:#777;
}
.info__img{
    padding: 10px;
}
.content-form{
    padding: 20px 10px 0 10px;
}
#form-login{
    margin: 10px 0;
}
label{
    text-transform: uppercase;
    color:#444;
    font-size: 0.8em;
}

input[type="email"], 
input[type="password"],
input[type="submit"]{
    height: 40px;
    padding: 0 30px;
}
.input-group{
    position: relative;
    margin-bottom: 15px;
}
i{
    position:absolute;
    top: 12px;
    left: 8px;
    font-size: 1em;
    color: rgb(105, 236, 105);
    width: 20px;
}

input[type="submit"]{
    background: rgb(243, 71, 41);
    text-transform: uppercase;
    border:none;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    transition:all .4s;
}
input[type="submit"]:hover{
    background: rgb(235, 43, 10);
}
.form__info{
color: #777;
line-height: 1.2;
font-size: 1em;
}
.form__info a{
    color:tomato;
    transition:all .3s;
}
.form__info a:hover{
    color: rgb(241, 50, 16);
}
.empty{
    margin: 10px 0;
}
.end{
    margin-bottom:30px;
}


@media (min-width:424px){
    body{
        padding: 30px 0 0 30px;
    }
    .info__tittle, .form__tittle{
        font-size: 1em;
    }
}
@media (min-width:767px){
    body{
        padding: 0 0 0 0;
    }
   .content-main{
       display: flex;
       line-height: 1.3;
       height: 100vh;
   }
   .info__tittle, .form__tittle{
    font-size: 1.2em;
    }
    .content-info{
        padding-left: 30px;
    }
    .content-form{
    background: #eee;
    padding: 0 30px 0 30px;
    line-height: 2;
    }
}
@media (min-width:1023px){
    .content-form{
        padding: 25px 60px 0 60px;
    }
}